extends layout

block content
    h1=title
    a(href="/")
        button="Return"
    form(action="/new" method="post")
        label(for="name") Name:
        input(type="text" name="name" id="name")

        label(for="message") Message:
        textarea(name="message", cols="30", rows="10") 

        button(type="submit") Submit
    
    